body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

textarea {
    resize: none;
}
